<h1>All Wikis</h1>

<% @wikis.each do |wiki| %>
  <p><%= link_to wiki.title, wiki_path(wiki) %>
    <% if user_signed_in? %>
    <%= link_to "Edit Wiki", edit_wiki_path(wiki) %>
    <%= link_to "Delete Wiki", wiki, method: :delete, data: { confirm: "Are you sure you want to delete this Wiki?" } %>
    <% end %>
</p>
<% end %>
